#!/bin/bash
# Kickstart for RHEL/CentOS 6
# see: http://docs.redhat.com/docs/en-US/Red_Hat_Enterprise_Linux/6/html/Installation_Guide/s1-kickstart2-options.html


install
url --url=http://<%= config.image_svc_host %>:<%= config.image_svc_port %>/razor/image/os/<%= @image_uuid %>
text
lang en_GB
keyboard uk
rootpw <%= @root_password %>
firewall --disabled
authconfig --enableshadow --passalgo=sha512 --enablefingerprint
selinux --disabled
timezone --utc Europe/London
bootloader --location=mbr --driveorder=sda --append=crashkernel=auto rhgb quiet


%include /tmp/part-include

# reboot automatically
reboot

%pre
set $(list-harddrives)
let numhd=$#/2
d1=$1
d2=$3

echo "zerombr" >> /tmp/part-include
echo "clearpart --all" >> /tmp/part-include

if [ $numhd == "2" ]
then

        ssd=$(cat /sys/block/$d2/queue/rotational)
        if [ $ssd == "0" ]
                then

                        echo "part / --size 20000 --ondisk=/dev/$d1" >> /tmp/part-include
                        echo "part swap --size 16000 --ondisk=/dev/$d1" >> /tmp/part-include
                        echo "part /scratch --size 20000 --grow --ondisk=/dev/$d1" >> /tmp/part-include
                        echo "part /ssd --size 20000 --grow --ondisk=/dev/$d2" >> /tmp/part-include
        else
                ssd=$(cat /sys/block/$d1/queue/rotational)
                if [ $ssd == "0" ]
                        then
                                echo "part / --size 20000 --ondisk=/dev/$d2" >> /tmp/part-include
                                echo "part swap --size 16000 --ondisk=/dev/$d2" >> /tmp/part-include
                                echo "part /scratch --size 20000 --grow --ondisk=/dev/$d2" >> /tmp/part-include
                                echo "part /ssd --size 20000 --grow --ondisk=/dev/$d1" >> /tmp/part-include
                fi


        fi

else

        echo "part / --size 20000 --ondisk=/dev/$d1" >> /tmp/part-include
        echo "part swap --size 16000 --ondisk=/dev/$d1" >> /tmp/part-include
        echo "part /scratch --size 20000 --grow --ondisk=/dev/$d1" >> /tmp/part-include

fi


# we need the following packages so we can sucessfull install
# the infiniband drivers
%packages
xorg-x11-xauth
gcc-gfortran
compat-libgfortran-41
binutils-devel
expect
libsysfs
gcc-c++
epel-release.noarch
OpenIPMI
rpm-build
kernel-devel
tcl
tk
nfs-utils
libtool
bison
flex
zlib-devel
tcl-devel
make
redhat-rpm-config


@core

%end


%post --log=/root/razor-post.log
cd /root
curl <%= api_svc_uri %>/policy/callback/<%= policy_uuid %>/kickstart/end
wget <%= api_svc_uri %>/policy/callback/<%= policy_uuid %>/postinstall/inject -O /usr/local/bin/razor_postinstall.sh;
sed -i '/exit 0/d' /etc/rc.d/rc.local;  \
echo bash /usr/local/bin/razor_postinstall.sh >> /etc/rc.d/rc.local; \
echo exit 0 >> /etc/rc.d/rc.local;  \
chmod +x /usr/local/bin/razor_postinstall.sh
##########

